<!DOCTYPE html>
<html lang="en" th:replace="normal/base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <h1>Showing Contact details </h1>
    <div class="card mr-3 ml-3">
        <div class="card-body">

            <div class="container text-center">
                <img alt="profile-photo" class="my_profile_picture" src=""
                     style="width: 200px; height: 200px" th:src="@{'/img/'+${contact.image}}"/>
                <h3 class="mt-3">
                    <span th:text="${contact.name}"></span>
                </h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">SCMUSER<span th:text="${contact.cId}"> </span></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>

                    </tr>
                    <tr>
                        <th scope="row">phone</th>
                        <td><span th:text="${contact.phone}"></span></td>

                    </tr>
                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.work}"></span></td>

                    </tr>


                    </tbody>

                </table>

                <div class="description" th:if="${contact}">
                    <th:block th:utext="${contact.description}"></th:block>
                </div>
                <div class="container mt-3">
                    <a class="btn btn-danger btn-sm" th:href="@{'/user/delete/'+${contact.cId}}">Delete</a>
                    <form method="post" th:action="@{'/user/update-contact/'+${contact.cId}}">
                        <button type="submit" class="btn btn-success btn-sm">Update</button>

                    </form>                </div>
            </div>

        </div>
    </div>

</section>

</body>
</html>
</html>