<!DOCTYPE html>
<html lang="en" th:replace="normal/base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Update Your Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="#" class="mt-2"
                              enctype="multipart/form-data"
                              method="post"
                              th:action="@{/user/process-update}"
                              th:object="${contact}">

                            <!--              first name field-->
                            <input  type="hidden" th:value="${contact.cId} "  name="cId"/>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input class="form-control" id="firstName" name="name" placeholder="Enter your name"
                                       required th:value="${contact.name}"
                                       type="text"/>
                            </div>

                            <!--                Second Name field-->

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                                <input class="form-control" id="secondName" name="secondName"
                                       placeholder="Enter your second name" required
                                       th:value="${contact.secondName}" type="text"/>
                            </div>

                            <!--                  phone field-->


                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input class="form-control" id="phone" name="Phone"
                                       placeholder="Enter your phone number here"
                                       required
                                       th:value="${contact.phone}" type="tel"/>
                            </div>

                            <!--                email field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        @
                                    </div>
                                </div>
                                <input class="form-control" id="email" name="email" placeholder="Enter your Email!"
                                       required th:value="${contact.email}"
                                       type="email"/>
                            </div>


                            <!--                work field-->

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input class="form-control" id="work" name="work" placeholder="Enter your work here"
                                       required th:value="${contact.work}"
                                       type="text"/>
                            </div>

                            <!--                Contact description-->
                            <div class="form-group mt-3" th:text="${contact.description}">
                                <textarea class="form-control" id="description" name="description"
                                          placeholder="Enter Contact Description" rows="10"></textarea>
                            </div>
                            <!--                        contact image-->
                              <div class="container text-center">
                                <img style="width: 250px;height: 250px;" class="img-fluid my_profile_picture" src="" th:src="@{'/img'+${contact.image}}" alt=""/>
                              </div>

                            <div class="custom-file">
                                <input name="profileImg" type="file"/>
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

</body>
</html>
</html>