<!DOCTYPE html>
<html lang="en" th:replace="normal/base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

  <div class="container">
      <div class="card">
          <div class="card-body">
              <div class="container text-center">
                  <img alt="profile-photo" class="my_profile_picture" src=""
                       style="width: 200px; height: 200px" th:src="@{'/img/agent.png'}" />
              </div>
              <h1 class="text-center mt-3 text-secondary font-ita
              lic font-weight-light">
                   Start Adding your Contact On Cloud....
              </h1>
              <div class="d-grid gap-2">
                  <a th:href="@{/user/add-contact}" class="btn btn-outline-secondary mt-4 btn-block text-uppercase">Add Your Contact</a>

              </div>
          </div>
      </div>
  </div>
    <script>
        $('.item').removeClass('active')
        $('#home-link').addClass('active')



    </script>

</section>

</body>
</html>
</html>