body{
    background: #e2e2e2!important;
}
.bg-primary1{
    background: #009688 !important;
}
.banner{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../img/gta1.jpg");
    background-size: cover;
    color: white;

}
.my-card{
    padding: 20px;
    background: #FFFFFF;
}



/*adding irrelevant css*/
.trevor{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/trevor1.png");
    background-size: cover;
    background-position: center center; /* Center the background image */
    color: white;
}


.transparent-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.transparent-form .form-group {
    background-color: transparent;
    margin-bottom: 20px;
}

.transparent-form label {
    color: white;
}

.transparent-form .form-control {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
}

.transparent-form textarea {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
}


.form-field {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
}

/*login css*/





#login .container #login-row #login-column #login-box {
     margin-top: 120px;
     max-width: 600px;
     height: 420px;
     border: 1px solid #9C9C9C;
     background-color: white;
 }
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: 5px;
    text-align: right;
}


/*styling sidebar*/
@media only screen and (max-width: 600px){
    .sidebar{
        display: none;
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/trevor1.png") center center/cover no-repeat;

        width: 80%!important;
        /*background: white;*/
        height: 100vh;
        position: fixed;
        padding-top:20px;

    }
    .content{
        margin-left: 0%!important;
    }
}





.sidebar{
    width: 18%;
    /*background: white;*/
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/trevor1.png")center center/cover no-repeat;
    height: 100%;
    position: fixed;
    padding-top: 45px;
    z-index: 999999999999999999999999999999;

}
.sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}
.sidebar a:hover{
    color: #e2e2e2;
}
.sidebar .divider{
    height:5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}
.content{
   margin-left: 20%;
}


.sidebar .crossBtn{
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
    color: gray;
}



/* image of contact*/

.my_profile_picture{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius:50%;
    border:  1px solid black;
}



/*  image in side bar*/

/* login form image*/
.sky{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/sky1.jpg");
    background-size: cover;
    background-position: center center; /* Center the background image */
    color: white;
}


/* search bar css*/

.search-container{
    position: relative;

}

.search-result{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}