<!DOCTYPE html>
<html lang="en" th:replace="base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<section class="banner d-flex  justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>
            Start Collecting Your Contacts In very Smarter Way.
            Michael,Trevor& franklin provide smarter and Efficient way of
            handling contacts.
        </p>
        <button class="btn bg-primary1 btn-lg text-white">Get Started</button>
    </div>
</section>

</body>
</html>