<!DOCTYPE html>
<html lang="en" th:replace="base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div class="row justify-content-center align-items-center" id="login-row">
                <div class="col-md-6" id="login-column">
                    <div class="col-md-12" id="login-box">

                        <form class="form form-field transparent-form sky" id="login-form" method="post"
                              th:action="@{/dologin}">

                            <div class="container text-center">
                                <img class="" src="" style="width: 80px" th:src="@{/img/icon.png}"/>

                            </div>
                            <h3 class="text-center text-info">Login</h3>
                            <div class="alert alert-danger" th:if="${param.error}">
                                Invalid Username and password

                            </div>
                            <div class="alert alert-success" th:if="${param.logout}">
                                You have Been logged out

                            </div>
                            <div class="alert alert-success" th:if="${param.change}">
                                <p th:text="${param.change}"></p>

                            </div>
                            <div class="form-group">
                                <label class="text-info" for="username">Username:</label><br>
                                <input class="form-control" id="username" name="username" type="text">
                            </div>

                            <div class="form-group">
                                <label class="text-info" for="password">Password:</label><br>
                                <input class="form-control" id="password" name="password" type="password">
                            </div>
                            <div class="form-group mt-4">
                                <label class="text-info" for="remember-me"><span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input class="btn btn-info btn-md" name="submit" type="submit" value="submit">
                            </div>
                            <div class="text-right mt-2" id="register-link">
                                <a class="text-info" href="/signup">Register here</a>
                            </div>
                            <div class="container text-center">
                                <a th:href="@{/forget}">Forgot Password ?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>